.subscibe {
    background-color: rgb(200, 7, 7);
    color: white;
    border: none;
    padding-top:5px;
    padding-bottom:5px;
    border-radius: 2px ;
    cursor: pointer;
    margin-right: 8px;
    transition: 0.3s;
    vertical-align: top;
  }
 .subscibe:hover {
    opacity: 0.8;
     box-shadow:2px 4px 8px rgba(0, 0, 0, 0.8);
  }
  .subscibe:active {
    opacity: 0.4;
  
  }
.okay {
  background: white;
  border-color:rgb(61, 61, 255);
  border-style:"solid";
  border-width: 1px;
  color: rgb(50, 50, 255);
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 2px;
  cursor: pointer;
  transition: 0.3s;
  vertical-align: top;
}
.okay:hover {
  background-color: rgb(61, 61, 255);
  color: white;
   box-shadow:2px 4px 8px rgba(0, 0, 0, 0.8);
}
.okay:active {
  opacity: 0.4;
   box-shadow:2px 4px 8px rgba(0, 0, 0, 0.8);
}

.lala {
  background-color: rgb(96, 96, 246);
  border-radius: 17px;
  border-width: 1px;
  border-style: solid;
  border:none;
  color: white;
  padding-top: 4px;
  padding-bottom: 4px;
  font-weight: bold;
  font-size: 15px;
  margin-left: 8px;
  cursor: pointer;
  transition: 0.3s;
  vertical-align: top;
}
.lala:hover {
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.3);
}