.ytfont {
font-family:roboto;
font-size:18px;
font-weight:bold;
line-height:24px;
width:300px;
margin-bottom: 5px;
}
.second {
  font-family: roboto;
  font-size: 14px;
  color:rgb(96, 96, 96);
  margin-top:0px;
}
.third {
font-family:roboto;
color:rgb(96, 96, 96);
 margin-top:23px;
}
.forth {
 font-family: roboto;
 color:rgb(96, 96, 96);
 width:300px;
 margin-top:2px;
 line-height:24px;
 margin-bottom:100px;
}
.fifth {
  font-family:arial;
  font-size: 15px;
  background-color:rgb(227, 65, 64);
  text-align:center;
  color:white;
  padding-top:18px;
  padding-bottom: 18px;
  padding-left:18px;
  padding-right:18px;
  
}
.pork {
  cursor:pointer;
  margin-left: 4px;
}
.pork:hover {
  text-decoration: underline;
}
